.close_btn{
  --size : 28px;
  width: var(--size);
  height: var(--size);
  aspect-ratio:  1/1;
  position: absolute;
  top: -40px;
  right: 0px;
  background-color: #C8C8C8 !important;
  border-radius: 50% !important;
  padding: 0px !important;
  z-index: 99;
}

.popup_note{
  width: 100%;
  background-color: #EFFFF4;
  color: #008A45;
  font-size: 14px;
  font-weight: 500; 
}